<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Happy Paws Adoption</title>
</head>
<body>
    <div class="main-content">
        <h2>This is where the cat image should be =/ </h2>
        <!-- Background image by Jae Park https://unsplash.com/@jaehunpark -->
        <div class="sub-content">
            <div id="site-Name">
                <h2>HAPPY PAWS</h2>
            </div>
            <a href="/cats">Meet our adoptable kitties</a>
        </div>
      </div>
</body>
</html>