<%- include('partials/header') %>

    <div class="landingPage">
        <!-- Background image by Jae Park https://unsplash.com/@jaehunpark -->
        <div class="sub-content">
            <div id="site-name">
                <h2>HAPPY PAWS</h2>
            </div>
            <div id="site-link">
                <a href="/cats">Meet our adoptable kitties</a>
            </div>
        </div>
      </div>

<%- include('partials/footer') %>