body {
    font-family: 'Maven Pro', sans-serif;
}

.landingPage {
    background: url(/images/jae-park-7GX5aICb5i4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
    height: 700px;
    max-width: 550px;
    margin: 0px 50px;
    position: relative;
}

.sub-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#site-name {
    background: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    height: fit-content;
}

#site-name h2 {
    margin: 5px;
    font-size: 1.5em;
    padding: 5px;
}

#site-link {
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    text-decoration: none;
    text-align: center;
    color: black;
}

a:link { 
    text-decoration: none;
    color: black; 
}

a:visited { 
    text-decoration: none;
    color: black; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none;
    color: black; 
}