<%- include('../partials/header') %>

    <div class="form-content">

        <h1>Application Form</h1>

        <p>To ensure all our kitties get a home they need for a happy life, please fill out this application to your
            best
            abilities
        </p>

        <form action="/cats/<%= cat._id %>/applicant" method="POST">
            <div>
                <label for="name">
                    <b>Name:</b>
                    <input type="text" name="name" required>
                </label>
            </div>
            <div>
                <label for="age">
                    <b>Age:</b>
                    <input type="number" name="age" required>
                </label>
            </div>
            <div>
                <label for="address">
                    <b>Address:</b>
                    <input type="text" name="address" required>
                </label>
            </div>
            <div>
                <label for="homereq">
                    <b>Are you allowed to have cats in your residence?</b>
                    <input type="text" name="homereq" required>
                </label>
            </div>
            <div>
                <label for="healthreq">
                    <b>Are you prepared to meet your new kitties health needs?</b>
                    <input type="text" name="healthreq" required>
                </label>
            </div>
            <input type="submit" value="Submit Application">
        </form>
    </div>

    <%- include('../partials/footer') %>