<h2>This is where the applicant form shows up</h2>


<form action="/cats/<%= cat._id %>" method="POST">
    <label for="name">
        Name:
        <input type="text" name="name" required>
    </label>
    <label for="age">
        Age:
        <input type="number" name="age" required>
    </label>
    <label for="address">
        Address:
        <input type="text" name="address" required>
    </label>
    <label for="homereq">
        Are you allowed to have cats in your residence?
        <input type="text" name="homereq" required>
    </label>
    <label for="healthreq">
        Are you prepared to meet your new kitties health needs?
        <input type="text" name="healthreq" required>
    </label>
    <label for="catName">
        Which cat are you interested in adopting?
        <input type="text" name="catName" required>
    </label>
    <input type="submit" value="Submit Application">
</form>