<%- include('../partials/header') %>

    <div class="applicantForm">

        <h2>To ensure all our kitties get a home they need for a happy life, please fill out this application to your
            best
            abilities
        </h2>

        <form action="/cats/<%= cat._id %>/applicant" method="POST">
            <label for="name">
                Name:
                <input type="text" name="name" required>
            </label>
            <label for="age">
                Age:
                <input type="number" name="age" required>
            </label>
            <label for="address">
                Address:
                <input type="text" name="address" required>
            </label>
            <label for="homereq">
                Are you allowed to have cats in your residence?
                <input type="text" name="homereq" required>
            </label>
            <label for="healthreq">
                Are you prepared to meet your new kitties health needs?
                <input type="text" name="healthreq" required>
            </label>
            <input type="submit" value="Submit Application">
        </form>
    </div>

<%- include('../partials/footer') %>