<%- include('../partials/header') %>

    <div class="form-content">

        <h1>Enter a new cat for adoption</h1>

        <form action="/cats/" method="POST">
            <div>
                <label for="imgUrl">
                    <b>URL to the cat photo:</b>
                    <input type="url" name="imgUrl">
                </label>
            </div>
            <div>
                <label for="name">
                    <b>Name:</b>
                    <input type="text" name="name">
                </label>
            </div>
            <div>
                <label for="sex">
                    <b>Sex:</b>
                    <input type="text" name="sex">
                </label>
            </div>
            <div>
                <label for="age">
                    <b>Age:</b>
                    <input type="number" name="age">
                </label>
            </div>
            <div>
                <label for="breed">
                    <b>Breed:</b>
                    <input type="text" name="breed">
                </label>
            </div>
            <div>
                <label for="health">
                    <b>Health Condition:</b>
                    <input type="text" name="health">
                </label>
            </div>
            <div>
                <label for="adoptionStatus">
                    <b>Adoption Status:</b>
                    <input type="text" name="adoptionStatus">
                </label>
            </div>
            <input type="submit" value="Add Cat">
        </form>
    </div>
    </div>

    <%- include('../partials/footer') %>